{%  extends 'layout.html' %}
{% block content%}
{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Users {% endblock %}</h1>
    <div class="content">
        {% for user in Users %}
            <div class="user">
                <p><b>#{{ user.id }}</b></p>
                <b>
                    <p class="name">{{ user.name }} {{ user.username }}</p>
                </b>
                <p>{{ user.email }}</p>
                <p>{{ user.age }} years old.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}











{%endblock%}